body{
font-family: Arial;
margin:40px;
background:#f4f4f4;
}

h1{
color:#333;
}

section{
background:white;
padding:20px;
margin-top:20px;
border-radius:10px;
box-shadow:0px 0px 10px rgba(0,0,0,0.1);
}

a{
display:block;
margin:5px;
color:blue;
}
   /* SLIDER */
        .slider {
            width: 100%;
            max-width: 600px;
            margin: auto;
            overflow: hidden;
        }

        .slides {
            display: flex;
            width: 300%;
            animation: slide 9s infinite;
        }

        .slides img {
            width: 100%;
        }

        @keyframes slide {
            0% { margin-left: 0; }
            33% { margin-left: 0; }
            36% { margin-left: -100%; }
            66% { margin-left: -100%; }
            69% { margin-left: -200%; }
            100% { margin-left: -200%; }
        }

        /* ESTRELLAS */
        .stars {
            font-size: 30px;
            cursor: pointer;
        }

        .star {
            color: gray;
        }

        .star.active {
            color: gold;
        }

        .galeria {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.galeria img {
    width: 200px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.galeria img:hover {
    transform: scale(1.1);
}

/* TITULO ANIMADO */
.titulo-animado{
    animation: flotar 2s infinite alternate;
    text-align:center;
}

.subtitulo{
    text-align:center;
    color:#555;
}

@keyframes flotar{
    from{transform:translateY(0);}
    to{transform:translateY(10px);}
}

/* ANIMACIONES */
.animaciones{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.caja{
    width:100px;
    height:100px;
    background:#3498db;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:10px;
    font-weight:bold;
}

.mover{
    animation:mover 2s infinite alternate;
}

.girar{
    animation:girar 3s infinite linear;
}

.rebote{
    animation:rebote 1s infinite;
}

@keyframes mover{
    from{transform:translateX(0);}
    to{transform:translateX(50px);}
}

@keyframes girar{
    from{transform:rotate(0);}
    to{transform:rotate(360deg);}
}

@keyframes rebote{
    0%,100%{transform:translateY(0);}
    50%{transform:translateY(-20px);}
}

/* TIENDA */
.productos{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
}

.producto{
    background:#fff;
    padding:15px;
    border-radius:10px;
    width:220px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    transition:transform .3s;
}

.producto:hover{
    transform:scale(1.05);
}

.producto img{
    width:100%;
    border-radius:10px;
}

button{
    background:#27ae60;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#2ecc71;
}
